/* Default styles for small screens */
.dashboard-title h1 {
  font-family: "Arial, sans-serif";
  font-size: 1.5rem;
  /* Adjust default font size for small screens */
}

.dashboard-title h2 {
  font-family: "Arial, sans-serif";
  font-size: 1.8rem;
  /* Adjust default font size for small screens */
}

/* Responsive styles for medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .dashboard-title h1 {
    font-family: "Arial, sans-serif";
    font-size: 2rem;
    /* Adjust font size for medium screens */
  }

  .dashboard-title h2 {
    font-family: "Arial, sans-serif";
    font-size: 2.2rem;
    /* Adjust font size for medium screens */
  }

  /* Add more responsive styles as needed */
}

/* Responsive styles for large screens */
@media only screen and (min-width: 1025px) {
  .dashboard-title h1 {
    font-family: "Arial, sans-serif";
    font-size: 2.5rem;
    /* Adjust font size for large screens */
  }


  .dashboard-title h2 {
    font-family: "Arial, sans-serif";
    font-size: 2.8rem;
    /* Adjust font size for large screens */
  }

  /* Add more responsive styles as needed */
}

/* Additional common styles for all screen sizes */
.dashboard-title ResponsiveContainer {
  width: 100%;
}

/* Adjustments for specific components based on screen size */
/* Add more styles for other components as needed */