.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin-left: 100px; /* 根据图标大小进行调整 */
}

.login-form {
    width: 100%;
    padding: 10px;
}


.login-form h2 {
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.forgot-password {
    text-align: right;
    margin-bottom: 20px;
}

.forgot-password button {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
}

.forgot-password button:hover {
    text-decoration: underline;
}

.login-button {
    width: 100%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #0056b3;
}

.register-link {
    display: block;
    text-align: center;
    margin-top: 20px;
}

/* 图标样式 */
.icon {
    width: 400px; /* 增大图标大小 */
    height: 400px;
    position: absolute;
    top: 50%; /* 定位到屏幕中央 */
    left: calc(50% - 400px); /* 根据登录表单和图标大小调整 */
    transform: translate(-20%, -30%); /* 确保图标居中 */
    margin-right: 200px; /* 与登录内容的间距 */
}


/* 小图标和欢迎语样式 */
.small-icon-and-welcome {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    width: 600px;
}

.small-icon-and-welcome img {
    width: 40px;
    height: 40px;
    margin: 10px;
}