.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%; /* Use 100% of the viewport width */
  font-family: Arial, Helvetica, sans-serif;
  
}

.logo-pic {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: calc(50% - 400px);
  transform: translate(-20%, -30%);
  margin-right: 200px;
}

.register-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 400px;

  margin-left: 400px; 
}

.register-form {
  width: 100%;
  padding: 10px;

}

.register-form h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px; /* Decreased margin for a more compact look */
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: calc(100% - 10px); /* Adjusted width to account for padding */
  padding: 10px 10px; /* Increased horizontal padding for wider fields */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.register-button {
  width: 100%;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.register-button:hover {
  background-color: #0A653A;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: green;
}

/* .small-icon-and-welcome h2 {
  white-space: nowrap;
} */


.small-icon-and-welcome-r {
  display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    max-width: 300px; /* Increased maximum width for the welcome message */
}


.small-icon-and-welcome-r img {
  width: 40px;
  height: 40px;
}

.small-icon-and-welcome-r h2 {
  white-space: nowrap;
}



/* CSS */
.register-form input::placeholder {
  color: #c7c7c7; /* This is a light grey color, adjust as needed */
  opacity: 1; /* Full opacity for the placeholder color */
}

/* Make sure to cover all vendor-specific versions for compatibility */
.register-form input:-ms-input-placeholder {
  color: #c7c7c7;
}

.register-form input::-ms-input-placeholder {
  color: #c7c7c7;
}

.register-form input::-webkit-input-placeholder {
  color: #c7c7c7;
}
