.reset-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .logo-pic {
    width: 400px; 
    height: 400px;
    position: absolute;
    top: 50%; 
    left: calc(50% - 400px); 
    transform: translate(-20%, -30%);
    margin-right: 200px; 
}
  
  .reset-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    margin-left: 200px;
  }
  
  .reset-form {
    width: 100%;
    padding: 10px;
  }
  
  .reset-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .reset-button {
    width: 80%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    margin-top:5% ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .reset-button:hover {
    background-color: #0056b3;
  }
  
  .sendVerificationCode-button {
    width: 40%;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    margin-top:5% ;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .sendVerificationCode-button:hover {
    background-color: #0056b3;
  }
  
  .small-icon-and-welcome {
    display: flex;
    align-items: center;
    margin-bottom: 1px;
  }
  
  .small-icon-and-welcome img {
    width: 40px;
    height: 40px;
  }

  .verification-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .verification-info {
    font-size: 0.8rem;
    color: #666;
    margin-top: 5px;
  }
  
  .sendVerificationCode-button {
    margin-left: 10px;
  }