.add-modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Darker overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-modal-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Soften the shadow for a subtler effect */
  width: 100%;
  max-width: 340px; /* Adjust this to control the modal width */
  z-index: 1001;
  max-height: 80vh; /* Reduce the max height for a less stretched look */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.add-modal-box h2 {
  font-size: 1.5rem; /* Increase font size for the heading */
  color: #333; /* Dark grey color for better readability */
  margin-bottom: 20px;
  font-family:Arial, Helvetica, sans-serif;
}

.add-modal-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-modal-box form label,
.add-modal-box form input,
.add-modal-box form select {
  width: 100%;
  max-width: 300px; /* Match input width to the modal width */
  margin: 4px 0; /* Add some vertical space between elements */
  margin-right: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.add-modal-box form input,
.add-modal-box form select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem; /* Standard font size for readability */
  font-family:Arial, Helvetica, sans-serif;
}

.add-modal-actions {
  width: 100%;
  max-width: 350px; /* Match button width to the input width */
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Add some space above the button area */
}

.add-modal-button {
  padding: 10px 0; /* More vertical padding for a taller button */
  border-radius: 8px; /* Match the input border-radius */
  font-size: 1rem; /* Match the font size of inputs */
  flex: 1; /* Distribute space evenly */
  margin: 0 5px; /* Add space between buttons */
  border: none;
}

.add-modal-button.add {
  background-color: #4CAF50;
  color: white;
}

.add-modal-button.cancel {
  background-color: #F44336; /* A more vibrant red */
  /* border-color: #D32F2F; */
  color: white;
}

.add-modal-button:hover {
  filter: brightness(90%); /* Subtle hover effect */
}

.add-success-message {
  color: #4CAF50; /* Text color for success messages */
  background-color: #ebf6eb; /* Background color */
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px; /* Space above the button */
  width: 100%; /* Full width of the container */
  text-align: center; /* Center align text */
  box-sizing: border-box; /* Include padding and border in the total width and height */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Optional: Add shadow for a sense of depth */
}

.suggestions-list {
  list-style-type: none; /* Remove default list styling */
  margin: 0;
  padding: 0;
  background: #fff; /* Same background color as the dropdown */
  position: absolute; /* Float above the input field */
  width: calc(100% - 24px); /* Match the width of the input field, adjust for padding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
  border-radius: 0 0 8px 8px; /* Round only the bottom corners of the dropdown */
  z-index: 1002; /* Ensure the dropdown is above other elements */
  max-height: 200px; /* Set a maximum height */
  overflow-y: auto; /* Allow scrolling if content is too long */
  border: 1px solid #ccc; /* Match the border with the input field */
  border-top: none; /* Remove the top border next to the input field */
  box-sizing: border-box;
}

.suggestions-list li {
  padding: 8px 12px; /* Add appropriate padding */
  cursor: pointer; /* Show pointer on hover */
  border-bottom: 1px solid #eee; /* Add a separator between options */
  width: auto; /* or '100%' to match the input field width */
  max-width: 300px; /* or the width of the input field */
}

.suggestions-list li:last-child {
  border-bottom: none; /* Remove the bottom border of the last option */
}

.suggestions-list li:hover {
  background-color: #f8f8f8; /* Background color on hover */
}

/* Custom scrollbar styles */
.suggestions-list::-webkit-scrollbar {
  width: 8px;
}

.suggestions-list::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.suggestions-list::-webkit-scrollbar-thumb {
  background: #888;
}

.suggestions-list::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Add border shadow when input is focused */
.add-modal-box form input:focus {
  border-color: #80bdff; /* Bootstrap style focus color */
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.success-message {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1010;
  background-color: #dff0d8;
  color: #3c763d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}
