.add-modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Darker overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-modal-box {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Soften the shadow for a subtler effect */
  width: 100%;
  max-width: 340px; /* Adjust this to control the modal width */
  z-index: 1001;
  max-height: 80vh; /* Reduce the max height for a less stretched look */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-modal-box h2 {
  font-size: 1.5rem; /* Increase font size for the heading */
  color: #333; /* Dark grey color for better readability */
  margin-bottom: 20px;
  font-family:Arial, Helvetica, sans-serif;
}

.add-modal-box form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-modal-box form label,
.add-modal-box form input,
.add-modal-box form select {
  width: 100%;
  max-width: 300px; /* Match input width to the modal width */
  margin: 4px 0; /* Add some vertical space between elements */
  margin-right: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.add-modal-box form input,
.add-modal-box form select {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem; /* Standard font size for readability */
  font-family:Arial, Helvetica, sans-serif;
}

.add-modal-actions {
  width: 100%;
  max-width: 350px; /* Match button width to the input width */
  display: flex;
  justify-content: space-between;
  margin-top: 20px; /* Add some space above the button area */
}

.add-modal-button {
  padding: 10px 0; /* More vertical padding for a taller button */
  border-radius: 8px; /* Match the input border-radius */
  font-size: 1rem; /* Match the font size of inputs */
  flex: 1; /* Distribute space evenly */
  margin: 0 5px; /* Add space between buttons */
  border: none;
}

.add-modal-button.add {
  background-color: #4CAF50;
  color: white;
}

.add-modal-button.cancel {
  background-color: #F44336; /* A more vibrant red */
  /* border-color: #D32F2F; */
  color: white;
}

.add-modal-button:hover {
  filter: brightness(90%); /* Subtle hover effect */
}
