.dish-card input[type='radio'] {
  display: none;
}

/* Style for the modal overlay */
.cook-modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Darker overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.cook-modal-close-icon {
  position: absolute; /* Absolute position to place the icon at the top-right corner */
  top: 16px; /* Adjust top position to align the icon as needed */
  right: 16px; /* Adjust right position to align the icon as needed */
  font-size: 24px; /* Adjust icon size as needed */
  color: #333; /* Set the color of the close icon */
  cursor: pointer; /* Change cursor to pointer to indicate a clickable element */
}

.cook-modal-close-icon:hover {
  color: #f00; 
}

/* Style for the modal box */
.cook-modal-box {
  overflow-y: auto; /* Enable vertical scrolling if content is taller than the box */
  max-height: 90vh; /* Limit the height of the modal to 90% of the viewport height */
  position: relative; 
  background-color: #fff; /* White background for the modal */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Drop shadow effect */
  max-width: 100%; /* Adjust the maximum width as needed */
  z-index: 10; 
}

/* Style for the dish card container (grid) */
.dish-card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columns */
  grid-gap: 20px; /* Adjust the gap between cards */
}


.dish-card aa {
  text-align: center;
  width: 100%; /* Adjust this value as needed */
  max-width: 150px; /* Set a maximum width if necessary */
  height: auto; /* Maintain aspect ratio */
}

.dish-card {
  position: relative;
  width: 200px;
  height: 300px;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.dish-card.flipped {
  transform: rotateY(180deg);
}

.dish-front,
.dish-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.dish-back {
  transform: rotateY(180deg);
}

/* Style for the dish image */
.dish-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Style for the dish name */
.dish-card h5 {
  margin-top: 10px;
}

/* Style for the modal actions (e.g., close button) */
.cook-modal-actions {
  margin-top: 20px;
  text-align: center;
}

/* Style for the modal button */
.cook-modal-button {
  padding: 10px 10px;
  margin: 0 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 14px;
}

/* Style for the close button */
.cook-modal-button.close {
  background-color: #ddd; /* Light gray background */
}