.contact-container {
    margin: 20px; /* Margin around the frame */
    padding: 20px; /* Padding inside the frame */
    background-color: #FFFFFF; /* White background for the outer frame */
    border-radius: 8px; /* Rounded corners for the frame */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    max-width: auto; /* Maximum width to control the size */
    margin-left: 10px; /* Center align the frame */
    margin-right: auto; /* Center align the frame */
    margin-top: 10px;
  }
  
  .contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 400px;
  }
  
  .input-group input,
  .subject-group textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .subject-group {
    grid-column: 1 / -1; /* Span across all columns */
  }

  .subject-button {
    background-color: #f0f2f5;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .send-message {
    grid-column: 1 / -1; /* Span across all columns */
    background-color: #0A653A; 
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .contact-info {
    background-color: #f0f2f5;
    padding: 20px;
    margin-top: 20px;
  } 
  
  .contact-main {  
    flex-grow: 1;
    padding: 20px;
    margin-left: 0px; /* Adjust this to match the Guide component's margin-left value */
}
