.layout {
    display: flex;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Style for the search bar */
.search-bar {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 20px; /* Space to the right of the search bar */
    width: 100%; /* Full width of its container */
    max-width: 300px; /* Optional: maximum width of the search bar */
}


/* Header icons for notifications and user profile */
.header-icons {
    display: flex;
    align-items: center;
}

/* Bell icon for notifications */
.bell-icon {
    font-size: 24px; /* Adjust icon size */
    cursor: pointer;
    margin-right: 15px;
    color: grey; 
    transition: color 0.1s; 
}

.bell-icon:hover {
    color: green; 
}

.badge {
    position: absolute;
    top: 5;
    right: 5;
    background-color: red; /* Choose a color for the badge */
    color: white;
    border-radius: 50%;
    padding: 3px 6px; /* Adjust padding as needed */
    font-size: 10px; /* Adjust font size as needed */
    font-weight: bolder;
  }

.user-restaurant {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
/* 当导航栏打开时，按钮在导航栏内部 */
.nav-toggle-button.inside-nav {
    position: absolute;
    top: 10px;
    right: 10px; /* 放置在右上角 */
  }

  
  /* .nav-toggle-button.outside-nav {
    color: #4CAF50; 
    border: none; 
    background-color: transparent; 
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    position: fixed;
    top: 10px;
    left: 180px; 
    z-index: 100;
  } */

  /* 汉堡按钮样式 */
.nav-toggle-button {
    /* background: #4CAF50; */
    color: green;
    border: none;
    cursor: pointer;
    padding: 0px;
    font-size: 30px;
    position: absolute; /* 确保按钮固定在页面上 */
    top: 10px;
    left: 10px;
    z-index: 100;
    background-color: transparent;
    /* transition: left 0.3s ease-in-out;  */
  }

/* 隐藏叉叉的样式 */
.hide {
  display: none;
}

/* LeftNavBar 的隐藏样式保持不变 */
.left-nav-bar.hidden {
  transform: translateX(-100%);
}

/* 当导航栏隐藏时，不占用空间 */
.left-nav-bar.hidden {
  width: 0; /* 设置宽度为 0 */
  overflow: hidden; /* 确保内容不会溢出 */
  padding: 0; /* 移除内边距 */
}

/* 主内容区域样式 */
.main-content {
  transition: margin-left 0.3s ease-in-out; /* 添加过渡效果 */
}

/* 动态设置左边距，当导航栏可见时 */
.main-content.with-nav {
  margin-left: 220px; /* 与导航栏的宽度相同 */
}

@media (min-width: 768px) {
    .nav-toggle-button.inside-nav {
      top: 100px; /* 仅在屏幕宽度大于768px时生效 */
    }
  }

  /* 当导航栏打开时，按钮移到右上角 */
.nav-toggle-button.inside-nav-right {
    /* right: 100px; 调整为合适的值以便与 logo 对齐 */
    left: 180px; /* 重置左边的定位 */
 }
 
 .nav-toggle-button.moved {
    left: 180px; /* 根据需要调整这个值 */
  }