/* Styles specifically for MostWastedItem component */
table {
  width: 100%;
  border-collapse: collapse;
}

/* Container for the table and the button */
.table-container {
  position: relative; /* Set position relative for absolute positioning of children */
}

/* Style for the "See All" button */
.see-all-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: none; /* 移除按钮背景 */
  border: none; /* 移除边框 */
  color: green; /* 文字链接的颜色 */
  padding: 5px 10px;
  cursor: pointer; /* 鼠标光标变成手型，指示可以点击 */
 
  font-size: 15px; /* 设置字体大小 */
  outline: none; /* 移除点击时的轮廓 */
}


caption {
  font-size: 20px;
  margin-bottom: .5em;
  font-weight: bold;
  text-align: left;
  padding-bottom: 10px;
  
}

th, td {
  padding: 0.5em;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
}

tr:hover {
    background-color: #f5f5f5; /* Background color on hover */
  }

th {
  background-color: #f2f2f2;
  text-align: left;
  position: sticky;
  top: 0;
  z-index: 100; /* Add z-index to ensure the header is above other content */
}

tbody tr:last-child td {
  border-bottom: none;
}
