/* Main container for the report page */
.report-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-left: 10px;
  }
  
  /* Title for the report page */
  .report-title {
    font-size: 35px;
    color: #333;
    margin-bottom: 20px;
    margin-top: auto;
  }
  
  .wasteOT-title {
    font-size: 20px;
    font-weight: bold;
  }

  /* Top section layout */
  .top-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
  }

  
  
/* Container for the OverallWaste component */
.overall-waste-container {
  flex: 0.5;
  min-width: 300px; /* Minimum width of each card */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align children to the start (left) */
  padding: 20px; /* Adjust padding to match other containers */
  border-left: 4px solid #FFC107;
  font-family: Arial, Helvetica, sans-serif;
  
}

  
.overall-waste-title {
  font-size: 20px; /* Same font size as other headers */
  font-weight: bold; /* Make it bold */
  color: #333;
  margin-top: 0; /* Remove top margin if you want it closer to the top border */
  width: 100%; /* Full width to enforce the padding */
}

  
  .overall-waste-value {
    font-size: 30px; /* Larger font size for the amount */
    font-weight: bold;
    color: #333;
    margin-bottom: 2px; 
    margin-top: 15px;
  }
  
  .overall-waste-label {
    font-size: 18px;
    color: #777; /* Lighter color for the label */
    margin-top: 5px; /* Space between the amount and label */
  }

/* Container for the NearingExpiration component */
.nearing-expiration-container {
  flex: 1;
  padding: 1px 20px 15px;
  min-width: 300px; /* Minimum width of each card */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-left: 4px solid #F44336;
  background-color: #ffebee;
  font-family: Arial, Helvetica, sans-serif;
}

/* Targeting table within the NearingExpiration component */
.nearing-expiration-container table {
  border-collapse: sticky;
  border-spacing: 10px; /* Adjust this value to increase spacing */
}

Targeting cells within the table to add padding
.nearing-expiration-container table td {
  padding: 10px; /* Adjust the padding to increase space within cells */
}

/* Ensure header cells also have increased spacing */
.nearing-expiration-container table th {
  padding: 8px; /* Adjust the padding to increase space within header cells */
}

  
  /* Container for the WasteOverTime component */
  .waste-over-time-container {
    background-color: #fff;
    padding-top: 1px;
    padding-left: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-left: 4px solid #1366d9;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Container for the MostWastedItem component */
  .most-wasted-item-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-left: 4px solid #da3e33;
    font-family: Arial, Helvetica, sans-serif;
  }